<%= button_to "Delete Festival", festival_path(@festival) , method: :delete %>

<div id="festival">
  <ul class="festival-info">
    <li><%= @festival.title %></li>
    <li><%= @festival.start_time %></li>
    <li><%= @festival.end_time %></li>
    <li><%= @festival.location %></li>
    <li><%= @festival.website_url %></li>
  </ul>
</div>