<!DOCTYPE html>
<html>
  <head>
    <title>FestivalPlanner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav class="main-menu">
    <% if user_signed_in? %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete %>
      <%= button_to "Profile", user_path(current_user), method: :get %>
    <% else %>
      <%= button_to "Sign in", new_user_session_path, method: :get %>
    <% end %>
  </nav>
  <div class="flash-messages">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

    <%= yield %>
  </body>
</html>
